<!DOCTYPE html>
<html>

<head>
    <title>Construction Site Robot Dashboard</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>Construction Site Robot Dashboard</h1>

    <div id="refresh-time" class="refresh-time"></div>

    <div id="robot-container"></div>

    <div id="command-modal" class="modal hidden">

     <div class="modal-content">
        <h2 id="modal-robot-name"></h2>
        <div id="capability-list"></div>
        <button id="close-modal">
            Close
        </button>
     </div>
    </div>

    <script src="/static/dashboard.js"></script>

</body>
</html>